.InputContainer {
  position: relative;
  width: 100%;
}
.InputTextArea {
  display: flex;
  width: 100%;
  background: var(--Gray-500, rgba(227, 231, 235, 0.3));
  border-radius: 10px;
  padding: 16px 18px;
  box-sizing: border-box;

  color: #1d2228;
  font-size: 16px;
  font-weight: 600;
}
.InputTextArea::placeholder {
  color: #9eaab5;
  font-weight: 500;
}
.SendIcon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}
