.PageWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background: var(--gray-BG, #f8f9fc);
}
.MainArea {
  display: flex;
  flex-direction: column;
  width: 355px;
  margin-top: 10px;
}
h1,
p,
span,
.WrongLogin {
  color: var(--gray-black, #1d2228);
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 42px */
}
p {
  font-size: 16px;
  line-height: 120%;
}
.JoinText {
  color: #9eaab5;
  font-size: 14px;
  line-height: 120%;
}
.WrongLogin {
  color: var(--error, #ff4a4a);
  font-size: 12px;
  line-height: 160%;
  margin-top: 5px;
}
.InputContainer {
  display: flex;
  margin-top: 12px;
  width: 335px;
  height: 54px;
  border-radius: 8px;
  padding-left: 20px;
  opacity: 0.8;
  background: var(--gray-gray1, #edf0f3);

  color: #1d2228;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}
.InputContainer::placeholder {
  color: #b0bac3;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}
