.PageWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 28px;
  min-height: 100vh;
  max-width: 100%;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--gray-BG, #f8f9fc);
}
.MainArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 36px;
}
.InputWrapper {
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.PageTitle {
  color: var(--gray-black, #1d2228);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 42px */
}
.KUROOMTITLE,
.LinkText,
.WrongLogin {
  color: var(--gray-black, #1d2228);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 42px */
}
.KUROOMTITLE {
  color: #009733;
}
p {
  font-size: 16px;
  line-height: 120%;
}
.LinkText {
  color: #9eaab5;
  font-size: 14px;
  line-height: 120%;
  text-decoration: none;
}
.WrongLogin {
  color: var(--error, #ff4a4a);
  font-size: 12px;
  line-height: 160%;
  margin-top: -24px;
  height: 40px;
  text-align: start;
}
