.DepartmentSettingPage {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
}
.SearchBarContainer {
  padding: 17px 25px 12.5px 25px;
}
.EmptyWrapper {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.EmptyText {
  color: #b0bac3;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.35px;
}
