.bookmark-container {
  position: relative;
  background-color: #f8f9fc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  padding-top: 56px;
  padding-bottom: 100px;
  padding-inline: 14px;
}
