.HomeMiniMapBackground {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomeMiniMapWrapper {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 40px 19px;
  gap: 18px;
}
.MiniMapTextContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 10px;
}
.MiniMapBoldText {
  color: #1d2228;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
}
.MiniMapNormalText {
  color: #9eaab5;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}
.HomeMiniMap {
  width: 100%;
}
