.FriendRankingContainer {
  margin-top: 56px;
  padding: 40px 35px;
  width: calc(100vw - 70px);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.EachRankingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
}
.RankIcon {
  width: 43px;
  height: 43px;
}
.EachRankingContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.EachRankLocation,
.EachRankCount {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 25.2px */
}
.EachRankCount {
  color: #9eaab5;
  font-size: 16px;
  font-weight: 500;
}

.EmptyViewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
}
.EmptyIcon {
  width: 50px;
  height: 50px;
  padding: 15px 10px;
  box-sizing: border-box;
}
.EmptyText {
  color: #b0bac3;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}
