.SearchModeContainer {
  background: #f8f9fc;
  height: 100%;
  width: 100%;
  max-width: var(--custom-max-width);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.SearchBarContainer {
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
.LeftContentWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.RecentSearchTitleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding: 25px;
}
.RecentSearchDataWrapper {
  padding: 0 16px;
  border-bottom: 10px solid rgba(227, 231, 235, 0.3);
}
.RecentSearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 17px 19px;
  border-bottom: 1px solid #e3e7eb;
}
.RecentSearchContainer:last-child {
  border: none;
}
.ResultWrapper {
  margin: 0 16px;
  overflow-y: auto;
  height: calc(100vh - 168px);
}
.ResultContainer {
  padding: 17px 19px;
  border-bottom: 1px solid #e3e7eb;
}
.ResultContainer:last-child {
  border: none;
}
.NoResultContainer {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SearchText {
  width: 100%;
}
.SearchText,
.SearchText::placeholder,
.RecentSearchTitle,
.RecentSearchDelete,
.LocationTitle,
.NoResultText {
  color: var(--Black, #1d2228);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.SearchText::placeholder {
  color: var(--Gray-100, #9eaab5);
  font-size: 16px;
  font-weight: 500;
}
.RecentSearchDelete {
  color: var(--Gray-100, #9eaab5);
  font-size: 14px;
  font-weight: 600;
  line-height: 120%; /* 16.8px */
}
.LocationTitle {
  color: var(--Black, #1d2228);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}
.NoResultText {
  color: var(--Gray-200, #b0bac3);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.35px;
}
.ArrowIcon {
  padding: 8px 12px;
}
.DeleteIcon {
  padding: 9px;
}

.EmptyView {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b0bac3;
  text-align: center;
  line-height: 140%;
}
.EmptyIcon {
  width: 50px;
  padding: 15px 10px;
  box-sizing: border-box;
}
