.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-block: 15px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
  outline: none;
}

.button.primary {
  background-color: #009733;
  color: white;
}

.button.secondary {
  background-color: #ced5db;
  color: white;
}

.button.secondary:hover {
  background-color: #dee2e6;
}

.button.disabled {
  background: var(--Gray-300, #ced5db);
  color: #fff;
  cursor: default;
}

.button.primary.disabled {
  background: var(--Gray-300, #ced5db);
  color: #fff;
}
