.header-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
}

.back-button {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 101;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  background-image: url("@assets/nav/arrowback.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bookmark-button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 101;
  display: flex;
  align-items: center;
  background: none;
  border: none;
}
