.FriendListPageWrapper {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
}
.SearchBarContainer {
  padding: 17px 25px 0 25px;
}
.FriendListWrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  gap: 30px;
}
