.FriendListPageWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.SearchBarContainer {
  max-width: var(--custom-max-width);
  padding: 17px 25px;
  background-color: #f8f9fc;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 56px;
}
.FriendListWrapper {
  margin-top: 127px;
  max-height: calc(100dvh - 127px);
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  box-sizing: border-box;
  gap: 30px;
  overflow-y: auto;
}
.NoFriendsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 180px;
  align-items: center;

  color: #b0bac3;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.ToFriendAdd {
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 3px;
}
/* .LoadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: var(--Gray-500, rgba(227, 231, 235, 0.3));
} */
