.FriendListPageWrapper {
  display: flex;
  flex-direction: column;
}
.SearchBarContainer {
  padding: 17px 25px 0 25px;
}
.FriendListWrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  gap: 30px;
}
.NoFriendsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 200px auto;
  align-items: center;

  color: #b0bac3;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.ToFriendAdd {
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.LoadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: var(--Gray-500, rgba(227, 231, 235, 0.3));
}
