.TotalRankingPageWrapper {
  padding: 56px 0 0 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.TopRankWrapper {
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.TopRanksData {
  display: flex;
  flex-direction: column;
  height: 180px;
  border-radius: 10px;
  border: 1px solid #9eaab5;
  background: #fff;
  width: calc((100% - 36px) / 3);
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}
.RankIconSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  border-radius: 10px 10px 0 0;
}
.RankIcon {
  width: 45px;
}
.TopRanksInfo {
  height: 114px;
  padding: 20px 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.TopRanksNameWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LowRankWrapper {
  padding: 40px 35px 95px 35px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: auto;
}
.LowRanksData {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
}
.LowRanksInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.LowRanking,
.TopRankerName,
.RankerName,
.SharingCount,
.RestCount {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 25.2px */
}
.TopRankerName {
  max-width: 90%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.LowRanking {
  color: #009733;
  text-align: center;
  font-size: 18px;
  width: 43px;
}
.SharingCount {
  color: #9eaab5;
  font-size: 16px;
  font-weight: 500;
}
.RestCount {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 14px;
  font-weight: 400;
}

.MyRankContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  padding: 20px 35px 40px 35px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
}
