.TotalRankingPageWrapper {
  padding: 56px 0 0 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.LowRankWrapper {
  padding: 40px 35px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: auto;
}
.LowRanksData {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
}
.LowRanksInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.LowRanking,
.RankerName,
.SharingCount {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 25.2px */
}
.LowRanking {
  color: #009733;
  text-align: center;
  font-size: 18px;
  width: 43px;
}
.SharingCount {
  color: #9eaab5;
  font-size: 16px;
  font-weight: 500;
}
