.header-container {
  max-width: var(--custom-max-width);
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fc;
  z-index: 1000;
}
.header-title {
  color: var(--Black, #1d2228);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
}
.notice-header-content-wrapper {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.profilechange-header-content {
  position: absolute;
  top: 50%;
  left: 29px;
  padding: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}
.header-kuroom-icon {
  position: absolute;
  top: 18px;
  right: 34px;
  width: 30px;
}
.home-header-wrapper {
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-header-title {
  color: #009733;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 24px */
}
.new-alarm-marker {
  position: absolute;
  top: 2px;
  right: -3px;
  background: #f34d4d;
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 2px;
  min-width: 18px;
  height: 18px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}
.notice-detail-bookmark-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 5px;
  cursor: pointer;
  transform: translateY(-50%);
}
.header-info-button-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 5px;
  cursor: pointer;
  transform: translateY(-50%);
}
