.SectionContainer {
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
}
.SectionTitle {
  color: var(--Gray-100, #9eaab5);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  padding: 15px 0;
}
.SectionContentButton {
  position: relative;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  padding: 15px 0;
}

.DivideSectionThin {
  height: 1px;
  background: var(--Gray-400, #e3e7eb);
  margin: 0 14px;
}
.ExtraInfoText {
  position: absolute;
  right: 0;
  color: var(--Gray-100, #9eaab5);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}
.ArrowIcon {
  position: absolute;
  top: 17px;
  width: 8px;
  right: 0;
}

.ToggleButtonStyle {
  position: relative;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  padding: 15px 0;
}

.KeywordButtonWrapper {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.EmptyKeywordView {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #9eaab5;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.EmptyKeywordView p {
  margin: 0;
}
