.profile-setting {
    background-color: #F8F9FC;
    padding: 9px 28px 11px 28px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .profile-setting-header {
    position: relative;
    margin-bottom: 30px;
  }
  
  .profile-setting-cloud {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-image: url('../../assets/icon/cloud.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .profile-setting-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    margin-top: 66px;
  }
  
  .text-primary {
    color: #009733;
  }
  
  .profile-setting-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .profile-setting-button {
    margin-top: auto;
    padding-top: 24px;
    max-width: 100%;
    padding-bottom: 16px;
  }
  
  .profile-setting-select-list {
    overflow-y: auto;
  }
  
  /* 애니메이션 효과 추가 */
  .profile-setting-form > * {
    animation: fade-in 0.3s ease-out;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }