.ChangeNicknamePageWrapper {
  position: relative;
  background-color: #f8f9fc;
  padding: 9px 28px 11px 28px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.HeaderIconWrapper {
  position: relative;
  width: 100%;
}
.arrowBack {
  position: absolute;
  top: 7px;
  left: 6px;
}
.KuroomIcon {
  position: absolute;
  right: 0;
}
.MainArea {
  display: flex;
  flex-direction: column;
}
.ChangeNicknameTitle {
  margin-top: 66px;
  margin-bottom: 29px;
  color: var(--gray-black, #1d2228);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 42px */
}
.ButtonWrapper {
  position: absolute;
  width: calc(100vw - 56px);
  bottom: 128px;
}
