.Overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.InformModalContainer {
  display: flex;
  width: 306px;
  height: 200px;
  padding: 23px 20px 10px 20px;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  border-radius: 17.902px;
  background: #fff;
}
.InformText,
.Graytext {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
}
.Graytext {
  color: #a8a8a8;
  font-size: 16px;
  font-weight: 500;
}
