.MyPageContentWrapper {
  margin-top: 56px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}
.DivideSectionThick {
  height: 10px;
  background: var(--Gray-500, rgba(227, 231, 235, 0.3));
}

/* .MyPageLoadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.LoadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: var(--Gray-500, rgba(227, 231, 235, 0.3));
}
