.SearchBarContainer {
  position: absolute;
  top: 16px;
  width: 100%;
  padding: 0 25px;
  z-index: 100;
  box-sizing: border-box;
}
.TrackingIcon {
  position: absolute;
  left: 15px;
  bottom: 120px;
  z-index: 100;
}
