.SearchBarContainer {
  position: absolute;
  top: 16px;
  width: 100%;
  max-width: var(--custom-max-width);
  padding: 0 25px;
  z-index: 100;
  box-sizing: border-box;
}

.FullScreenOverlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: var(--custom-max-width);
  background: white;
  z-index: 200; /* KuroomMap보다 위에 오도록 */
}
