.SearchBarContainer {
  position: absolute;
  top: 16px;
  width: 100%;
  padding: 0 25px;
  z-index: 100;
  box-sizing: border-box;
}

.RotationCategoryWrapper {
  position: absolute;
  top: 84px;
  width: calc(100% - 50px);
  display: flex;
  flex-direction: row;
  gap: 10px;
  z-index: 100;
  overflow: auto;
  padding: 0 25px;
  white-space: nowrap;
}
.RotationCategoryWrapper::-webkit-scrollbar {
  display: none;
}
.LocationCategory {
  height: 36px;
  box-sizing: border-box;
  display: flex;
  padding: 7px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #fff;
  /* flex-shrink: 0; */
}
.LocationCategoryIcon {
  width: 16px;
  height: 16px;
  background: #d9d9d9;
  border-radius: 50%;
}
.TrackingIcon {
  position: absolute;
  left: 15px;
  bottom: 120px;
  z-index: 100;
}
