@import "./colors.css";

:root {
  --custom-max-width: 600px;
}

/* 전체 화면 영역 스크롤 방지 */
html,
body {
  overflow: hidden;
  height: 100%;
  touch-action: none; /* 터치 이벤트 방지 */
  overscroll-behavior: none; /* 스크롤 바운싱 방지 */
}
html {
  background-color: white;
}
body {
  font-family: "Pretendard", sans-serif;
  font-weight: 400; /* 기본적으로 Regular 사용 */
  max-width: var(--custom-max-width);
  margin: 0 auto;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.04);
}

.thin {
  font-weight: 100;
}

.extra-light {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.black {
  font-weight: 900;
}
input {
  appearance: none;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -khtml-user-select: text;
  -ms-user-select: text;
}
