.notice-container {
  position: relative;
  background-color: #f8f9fc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #f8f9fc;
}

.category-section {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #f8f9fc;
}

.notice-tabs-container {
  position: relative;
  background-color: #f8f9fc;
  border-bottom: 1px solid #ced5db;
  overflow-x: auto;
  white-space: nowrap;
}

.notice-tabs {
  display: flex;
  min-width: max-content;
}

.notice-tab {
  padding: 14px 18.5px;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
  color: #1d2228;
  cursor: pointer;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.notice-tab.active {
  color: #009733;
  font-weight: 700;
}

.active-tab-indicator {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #009733;
  transition:
    left 0.3s ease,
    width 0.3s ease;
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  padding-top: 106px;
  padding-bottom: 100px;
  padding-inline: 14px;
}

.department-selector {
  background-color: #f8f9fc;
  padding-inline: 13px;
}

.select-wrapper {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  text-align: left;
}

.department-selector :global(.select-container) {
  margin-bottom: 0px;
}

.department-selector :global(.select-field) {
  padding: 18px 20px;
}

.notice-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 11.5px;
  background-color: #f8f9fc;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #e3e7eb;
}

.notice-content {
  flex: 1;
}

.notice-item-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 4px 0;
  color: #1d2228;
  line-height: 1.4;
}

.notice-item-date {
  font-size: 16px;
  color: #9eaab5;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.bottom-sheet-list {
  display: flex;
  flex-direction: column;
}

.bottom-sheet-item {
  padding: 16px;
  font-size: 16px;
  border-bottom: 1px solid #f0f0f0;
  color: #1d2228;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.2;
  background: none;
  width: 100%;
  text-align: left;
  border: none;
}

.bottom-sheet-item.selected {
  color: #00a048;
  font-weight: 700;
}

.chat-button {
  position: fixed;
  bottom: 115px;
  right: 20px;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #009733;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0px 4.286px 4.286px 0px rgba(29, 34, 40, 0.32);
  cursor: pointer;
  z-index: 100;
}

.empty-notices {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: #9eaab5;
  font-size: 16px;
  text-align: center;
}
