.menuOverlay {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--custom-max-width);
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  padding: 110px 20px;
  box-sizing: border-box;
}

.menuContainer {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 249px;
  height: fit-content;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.menuLabel {
  font-size: 16px;
  color: #1d2228;
  font-weight: 600;
}

.menuLabel.delete {
  color: #dc3545;
}

.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.trashIcon {
  width: 20px;
  height: 20px;
  color: #dc3545;
}

.divider {
  height: 1px;
  background-color: #e3e7eb;
  margin: 0 20px;
}
