.searchResult {
  padding: 0;
  margin-top: 20px;
}

.noResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 240px);
  text-align: center;
}

.searchIcon {
  width: 54px;
  height: 54px;
  margin-bottom: 8px;
  opacity: 0.3;
}

.noResultText {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #b0bac3;
}
