.Overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  max-width: var(--custom-max-width);
}
.LocationShareModalContainer {
  display: flex;
  flex-direction: column;
  padding: 23px 20px;
  width: 90%;
  gap: 21px;
  border-radius: 18px;
  background: #fff;
  align-items: center;
  box-sizing: border-box;
}
.CautionIcon {
  width: 41px;
  height: 41px;
}
.TextWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.InformText,
.BoldText,
.AdditionalInform {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  max-width: 250px;
  text-align: center;
}
.BoldText {
  font-weight: 700;
}
.AdditionalInform {
  color: #a8a8a8;
  font-size: 14px;
  font-weight: 500;
}
.ButtonWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
