.PageWrapper {
  display: flex;
  flex-direction: column;
  padding: 9px 28px 11px 28px;
  min-height: 100vh;
  max-width: 100%;
  /* align-items: center; */
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--gray-BG, #f8f9fc);
}
.MainArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}
.ErrorMsg {
  margin-top: -24px;
  height: 40px;
  color: var(--error, #ff4a4a);
  text-align: start;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 19.2px */
}
.FindStepTitle,
.Retransmit {
  color: var(--gray-black, #1d2228);
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 42px */
  margin: 36px 0;
}
.Retransmit {
  color: var(--Gray-100, #9eaab5);
  align-self: center;
  padding: 5px;
  width: 80px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
  text-decoration-line: underline;
}
