.DetailInfoWrapper {
  width: 100%;
  max-height: calc(100vh - 50vw);
  padding: 20px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.TitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 15px 11px;
}
.TotalRankWrapper {
  max-width: 360px;
  padding: 14px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(227, 231, 235, 0.3);
  border-radius: 10px;
  margin: 18px 0;
}
.RankContainer {
  flex: 1;
  display: flex;
  gap: 2px;
  flex-direction: row;
  align-items: center;
}
.TotalRankNav {
  width: 32px;
  height: 32px;
  padding: 8px 10px;
  box-sizing: border-box;
}
.ContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 13px 30px 13px;
}
.FriendSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.FriendContainerWrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}
.FriendContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.FriendProfileImg {
  width: 40px;
  height: 40px;
}
.FriendNickname {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: inline-block;
  overflow: hidden;
  max-width: 60px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.InfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.TitleText,
.SubTitleText,
.FriendTitle,
.InfoTitle,
.InfoContent,
.Ranker {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.SubTitleText {
  color: var(--Gray-100, #9eaab5);
  font-size: 18px;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
}
.FriendTitle,
.InfoTitle {
  color: #009733;
  font-size: 14px;
  line-height: 120%; /* 16.8px */
}
.InfoContent {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}
.InfoContent {
  white-space: pre-wrap;
}
.InfoContentClamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  /* 페이드 아웃 마스크 효과 */
  /* 추후 제거가 필요할 수도 */
  /* mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%); */
}
.Ranker {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;

  overflow: hidden;
  max-width: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
