.TopContentContainer {
  position: relative;
  width: 100%;
  margin-top: 5px;
  background: #d9d9d9;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
}
.ImgGridContainer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.MainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-row: 1 / span 2;
}
.SubImgGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}
.SubImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.HeaderGrad {
  position: absolute;
  top: 0;
  pointer-events: none;
  width: 100%;
  height: 61px;
  flex-shrink: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.HeaderContainer {
  position: absolute;
  top: 0;
  padding: 20px 30px;
  z-index: 100;
}
