.DetailInfoBottomSheetContainer {
  position: relative;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  z-index: 1100;

  /* 애니메이션 효과 */
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out;
}
.DetailInfoBottomSheetContainer.open {
  transform: translateY(0%);
  opacity: 1;
}
.DetailInfoBottomSheet {
  height: 380px;
  width: 100%;
  max-width: 700px;
  border-top-left-radius: 20.967px;
  border-top-right-radius: 20.967px;
  background: #fff;
  box-shadow: 5.242px 0px 15.725px 0px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.Expanded {
  height: calc(100vh + 20px); /* or whatever full height */
  background: #fff;
  overflow-y: scroll;
}
.SheetIndicator {
  width: 45px;
  height: 5px;
  border-radius: 5.242px;
  background: #e0e0e0;
  margin-top: 10px;
  flex-shrink: 0;

  position: sticky;
  top: 10px;
  z-index: 10; /* 다른 요소 위에 오도록 */
}

.ButtonContainer {
  position: fixed;
  padding: 15px 27px;
  width: 100%;
  box-sizing: border-box;
}
.ButtonContainer button {
  touch-action: manipulation; /* 또는 none */
}
