.DetailInfoBottomSheetContainer {
  position: relative;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  z-index: 1100;

  /* 애니메이션 효과 */
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out;
}
.DetailInfoBottomSheetContainer.open {
  transform: translateY(0%);
  opacity: 1;
}
.DetailInfoBottomSheet {
  height: 450px;
  width: 100%;
  max-width: 700px;
  border-top-left-radius: 20.967px;
  border-top-right-radius: 20.967px;
  background: #fff;
  box-shadow: 5.242px 0px 15.725px 0px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}
.Expanded {
  height: calc(100vh + 20px); /* or whatever full height */
  background: #fff;
  overflow-y: scroll;
}
.SheetIndicator {
  width: 45px;
  height: 5px;
  border-radius: 5.242px;
  background: #e0e0e0;
  margin-top: 10px;
  flex-shrink: 0;

  position: sticky;
  top: 10px;
  z-index: 10; /* 다른 요소 위에 오도록 */
}
.SheetImgContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 6px;
  width: 100%;
  padding: 0 35px 20px 35px;
  box-sizing: border-box;
}
.SheetImg {
  width: calc(100% / 3 - 4px);
}
/* 이건 그냥 예시 
세번째 사진 약간 블러 처리 */
.SheetImg:nth-child(3) {
  filter: grayscale(60%) opacity(0.3);
}

.MyPageLoadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.BottomSheetGrad {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 66.83%);
  z-index: 1000;
}
