.PageWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 28px;
  min-height: 100vh;
  max-width: 100%;
  /* align-items: center; */
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.MainArea {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}
.PageTitle {
  color: var(--Black, #1d2228);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin: 36px 0;
}
.Line {
  width: 100%;
  height: 1px;
  background: var(--Gray-300, #ced5db);
  margin: 36px 0;
}
.ButtonStyle {
  position: absolute;
  bottom: 50px;
  width: 100%;
}
