.PageWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 28px;
  min-height: 100vh;
  max-width: 100%;
  /* align-items: center; */
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--gray-BG, #f8f9fc);
}
.MainArea {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}
.PageTitle {
  margin-top: 75px;
  margin-bottom: 36px;
}
.PageTitle,
.ErrorMsg {
  color: var(--Black, #1d2228);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.ButtonStyle {
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.ErrorMsg {
  color: var(--error, #ff4a4a);
  font-size: 12px;
  line-height: 160%;
  margin-top: -24px;
}
.CheckIcon {
  position: absolute;
  top: 41px;
  right: 15px;
}
.Retransmit {
  position: absolute;
  right: 0;
  color: var(--Gray-100, #9eaab5);
  padding: 5px;
  font-size: 12px;
  font-weight: 500;
  text-decoration-line: underline;
}
