.Page {
  background: #ffffff;
  padding: 0 21px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-y: auto;
}

.Header {
  margin-top: 39px;
  margin-bottom: 28px;
}

.Logo {
  width: 78px;
  height: 78px;
  margin-bottom: 11px;
  margin-left: 14px;
}

.Title {
  font-size: 27px;
  font-weight: 500;
  line-height: 35px;
  color: #000000;
  margin: 0;
  margin-left: 24px;
}

.Subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #717a83;
  margin-top: 7px;
  margin-left: 24px;
  line-height: 20px;
}

.SectionImg {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
}

.Bottom {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.DismissText {
  font-size: 15px;
  font-weight: 500;
  color: #9eaab5;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
}
