.select-item {
    padding: 13px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 18px;
    font-weight: 600;
    color: #1D2228;
  }
  
  .select-item:hover {
    background-color: #f1f3f5;
  }