.Overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  max-width: var(--custom-max-width);
}
.FriendModalContainer {
  display: flex;
  flex-direction: column;
  padding: 23px 20px;
  width: 85%;
  gap: 21px;
  border-radius: 18px;
  background: #fff;
  align-items: center;
}
.CautionIcon {
  width: 41px;
  height: 41px;
}
.TextWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.InformText,
.Nickname,
.BoldText {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  max-width: 250px;
  text-align: center;
}
.Nickname,
.BoldText {
  font-weight: 700;
}
.AdditionalInform {
  color: #a8a8a8;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
}
.ButtonWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.ReportWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
}
.ReportReasonInput {
  width: 100%;
  padding: 16px 18px;
  box-sizing: border-box;

  border-radius: 10px;
  border: 1px solid #ced5db;
}
.ReportReasonInput::placeholder {
  color: #9eaab5;
  font-size: 14px;
  font-weight: 400;
}
