.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-block: 16px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
  outline: none;
}

.button.primary {
  background-color: #009733;
  color: white;
}

.button.secondary {
  background-color: #fff;
  color: #9eaab5;
  padding-block: 18px;
  /* border: 1.5px solid var(--Gray-100, #9eaab5); */
  box-shadow: 0 0 0 1px #9eaab5;
}
.button.tertiary {
  background-color: #ebebeb;
  color: #000;
}
.button.quaternary {
  box-shadow: 0 0 0 1px #009733;
  /* border: 1px solid #009733; */
  background: #f2faf5;
  color: #009733;
  box-sizing: border-box;
}
.button.secondary:hover {
  background-color: #dee2e6;
}

.button.disabled {
  background: var(--Gray-300, #ced5db);
  color: #fff;
  cursor: default;
}

.button.primary.disabled {
  background: var(--Gray-300, #ced5db);
  color: #fff;
}

.button.sm {
  padding-block: 20px;
}

.button.xs {
  border-radius: 10px;
  padding-block: 12px;
}
