.FriendAddPageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  margin-top: 56px;
}
.SearchBarContainer {
  padding: 17px 25px 0 25px;
}
.FriendAddListWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 14px 20px 14px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}
.RequestList,
.ReceivedList {
  display: flex;
  flex-direction: column;
  padding: 40px 16px;
  gap: 30px;
}
.RequestList {
  border-bottom: 1px solid #e3e7eb;
}
.EachFriendContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.FriendProfileWrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.ProfileImg {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.RequestTitle,
.Nickname {
  color: #9eaab5;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}
.Nickname {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.NoSearchResultText {
  color: #b0bac3;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.35px;
}
.DeleteIcon {
  padding: 5px 0 5px 5px;
}
.NoSearchResultIcon {
  width: 64px;
  height: 64px;
}
.AcceptRefuseBtnWrapper {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.SearchResultContainer {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  gap: 30px;
}
.SendRequestBtnWrapper {
  width: 100px;
}
.NoSearchResultWrapper {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.separator {
  height: 1px;
  width: 100%;
  background: #e3e7eb;
}

/* .LoadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: var(--Gray-500, rgba(227, 231, 235, 0.3));
} */
