.bottom-bar-container {
  max-width: var(--custom-max-width);
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 17px 0 30px 0;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  bottom: 0;
}

.nav-button-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px;
  gap: 10px;
}

.bottom-bar-text {
  color: #757575;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
}

/* 클릭된 버튼 스타일 */
.nav-button-wrap.active img {
  /* 이미지 색상 변경 */
  filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(758%)
    hue-rotate(96deg) brightness(93%) contrast(102%);
}

.nav-button-wrap.active .bottom-bar-text {
  color: #009733;
}
